.titlebar {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.titlebarButton {
  padding: 0.75rem;
  stroke-width: 1px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 34px;
}

.titlebarButton:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.titlebarButton:hover:global(#titlebar-close) {
  background-color: rgba(255, 0, 0, 0.75);
}
