@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
}

#root {
  background: radial-gradient(circle, rgba(67, 19, 26, 1) 0%, rgba(18, 22, 29, 1) 100%);
  color: #fafafa;
}
